@model Domain.Entities.Noticia
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Você realmente deseja apagar esta notícia?</h3>
<div>
    <h4>Notícias</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corpo)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para o inicio", "index")
        </div>
    }
</div>

